.custom-select{
    /* border: 1px solid blue; */
    width: 100%;
    height: 5vh;
}
.first {
    /* border: 1px solid red; */
    height: 83vh;

}
input{
    /* border: 1px solid blue; */
    width: 98.4%;
    height: 5vh;

}
textarea{
    /* border: 1px solid blue; */
    width: 98.4%;
    height: 15vh;

}
/* ------------------------------------------------------------------------------------------------------------------------------------------------- */


.card1_blog{
    background-color: white;
    border-radius: 5px;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------- */

body {
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1;
    /* ... autres styles ... */
}

#MenuSec {
    z-index: 1; 
    background-color: white; 
    padding: 10px; 
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2); 
}

#MenuSec ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#MenuSec ul li {
    line-height: 40px;
    font-weight: bold;
    color: #666666;
}

#MenuSec ul li:hover {
    background-color: #C8A165;
    color: white;
}

#MenuSec ul li a {
    text-decoration: none;
    color: black;
}

.Menu {
    position: sticky;
    top: 0;
    z-index: 3;
    background-color: white;
}

.Menu ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 1em;
    background-color: #FFFFFF; 
}

.Menu ul li {
    padding-left: 1em;
    padding-right: 1em;
}


/* ---------------------------------------------------------------------------------------------------- */

.Container_Banner {
    background: linear-gradient(0deg, #04061b67, #04061b67), url("../Public/image/Background/1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
}

.Container_Banner_Link {
    color: white;
    margin-top: 80px;
    font-size: 20px;
    font-weight: bold;
    margin-left: 90px;
}

.Container_Banner h1 {
    color: white;
    text-align: center;
    padding-top: 2.8em;
    font-weight: bold;
    font-size: 40px;
}

.lienss:focus-within{
    background-color:#C8A165;
}

.lienss a:focus-within{
    background-color:#C8A165;
    color: #fff !important; 

}